<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SalaArcoIris</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
 <servlet>
<!--Serviço Jersey Rest, um tipo de servlet, ou seja mini servidor  -->
<servlet-name>Jersey REST Service</servlet-name>
<!-- Container de Servlet, classe onde se encontra o servidor.-->
<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
<init-param>
<!-- Inicia parametrização de pacotes configurados para rodar -->
<param-name>jersey.config.server.provider.packages</param-name>
<!-- parâmetro do rest criado no projeto, todos os RESTs precisam estar neste caminho/pasta -->
<!-- É o pacote onde se encontra o REST que será referenciado -->
<param-value>br.com.salaarcoiris.rest</param-value>
</init-param>
<!-- ativa -->
<load-on-startup>1</load-on-startup>
</servlet>
<!-- Faz o mapeamento -->
<servlet-mapping>
	<!--  -->
	<servlet-name>Jersey REST Service</servlet-name>
	<!-- URL do rest utilizado, pegará tudo após a barra, indicado pelo * -->
	<url-pattern>/rest/*</url-pattern>
</servlet-mapping>  
</web-app>